## TidyData: Concatenation

This section details how you can concatenate multiple tidy data sheets together when you output them.

## Source Data

The data source we're using for these examples is shown below:

| <span style="color:green">Note - this particular table has some very verbose headers we don't care about, so we'll be using `bounded=` to remove them from the previews as well as to show just the subset of data we're working with.</span>|
|-----------------------------------------|

The [full data source can be downloaded here](https://github.com/mikeAdamss/datachef/raw/main/tests/fixtures/xlsx/ons-oic.xlsx). We'll be using th 10th tab named "Table 3c".

In [1]:
from typing import List
from datachef import acquire, preview
from datachef.selection import XlsxSelectable

tables: List[XlsxSelectable] = acquire.xlsx.http("https://github.com/mikeAdamss/datachef/raw/main/tests/fixtures/xlsx/ons-oic.xlsx")
preview(tables[9], bounded="A4:H10")

## The "Two" Sources

To keep these examples reasonably brief we're going to create two TidyData class from the above as follow:

- one with observations from B7 though H8
- one with observations from B9 through H10

In [2]:
from typing import List
from datachef import acquire, preview
from datachef.direction import right, down
from datachef.output import TidyData, Column
from datachef.selection import XlsxSelectable

tables: List[XlsxSelectable] = acquire.xlsx.http("https://github.com/mikeAdamss/datachef/raw/main/tests/fixtures/xlsx/ons-oic.xlsx")
table = tables[9]

houses = table.excel_ref("B5").expand(right).label_as("Houses")
dataset_identifier_code = houses.shift(down).label_as("Dataset Identifier Code")
period = table.excel_ref("A7").expand(down).label_as("Period")

observations1 = table.excel_ref("B7:H8").label_as("Observations")
observations2 = table.excel_ref("B9:H10").label_as("Observations")

In [3]:
## Preview Both Sets of Selection

print("Preview selections for tidydata1")
preview(observations1, houses, dataset_identifier_code, period, bounded="A4:H10")

print("Preview selections for tidydata1")
preview(observations2, houses, dataset_identifier_code, period, bounded="A4:H10")

Preview selections for tidydata1

Preview selections for tidydata1

## Create and preview TidyData objects

In [4]:
tidydata1 = TidyData(
    observations1,
    Column(period.finds_observations_directly(right)),
    Column(dataset_identifier_code.finds_observations_directly(down)),
    Column(houses.finds_observations_directly(down))
)
print("Preview tidydata1")
print(tidydata1)

tidydata2 = TidyData(
    observations2,
    Column(period.finds_observations_directly(right)),
    Column(dataset_identifier_code.finds_observations_directly(down)),
    Column(houses.finds_observations_directly(down))
)
print("Preview tidydata2")
print(tidydata2)

Preview tidydata1

'<table>\n<thead>\n<tr><th style="text-align: right;">  Observations</th><th>Period  </th><th>Dataset Identifier Code  </th><th>Houses                     </th></tr>\n</thead>\n<tbody>\n<tr><td style="text-align: right;">           5.6</td><td>Jun 2010</td><td>MVO6                     </td><td>Public new housing         </td></tr>\n<tr><td style="text-align: right;">           9.8</td><td>Jun 2010</td><td>MVO7                     </td><td>Private new housing        </td></tr>\n<tr><td style="text-align: right;">           8.8</td><td>Jun 2010</td><td>MVO8                     </td><td>Total new housing          </td></tr>\n<tr><td style="text-align: right;">           3  </td><td>Jun 2010</td><td>MVO9                     </td><td>Infrastructure new work    </td></tr>\n<tr><td style="text-align: right;">           4.3</td><td>Jun 2010</td><td>MVP2                     </td><td>Public other new work      </td></tr>\n<tr><td style="text-align: right;">           3.7</td><td>Jun 2010</td><td>MVP3                     </td><td>Private industrial new work</td></tr>\n<tr><td style="text-align: right;">           1.9</td><td>Jun 2010</td><td>MVP4                     </td><td>Private commercial new work</td></tr>\n<tr><td style="text-align: right;">           2  </td><td>Jul 2010</td><td>MVO6                     </td><td>Public new housing         </td></tr>\n<tr><td style="text-align: right;">           5.6</td><td>Jul 2010</td><td>MVO7                     </td><td>Private new housing        </td></tr>\n<tr><td style="text-align: right;">           4.8</td><td>Jul 2010</td><td>MVO8                     </td><td>Total new housing          </td></tr>\n<tr><td style="text-align: right;">           0.2</td><td>Jul 2010</td><td>MVO9                     </td><td>Infrastructure new work    </td></tr>\n<tr><td style="text-align: right;">          -0.2</td><td>Jul 2010</td><td>MVP2                     </td><td>Public other new work      </td></tr>\n<tr><td style="text-align: right;">           9.7</td><td>Jul 2010</td><td>MVP3                     </td><td>Private industrial new work</td></tr>\n<tr><td style="text-align: right;">           3.5</td><td>Jul 2010</td><td>MVP4                     </td><td>Private commercial new work</td></tr>\n</tbody>\n</table>'

Preview tidydata2

'<table>\n<thead>\n<tr><th style="text-align: right;">  Observations</th><th>Period  </th><th>Dataset Identifier Code  </th><th>Houses                     </th></tr>\n</thead>\n<tbody>\n<tr><td style="text-align: right;">           5.5</td><td>Aug 2010</td><td>MVO6                     </td><td>Public new housing         </td></tr>\n<tr><td style="text-align: right;">           4.5</td><td>Aug 2010</td><td>MVO7                     </td><td>Private new housing        </td></tr>\n<tr><td style="text-align: right;">           4.7</td><td>Aug 2010</td><td>MVO8                     </td><td>Total new housing          </td></tr>\n<tr><td style="text-align: right;">          -2.9</td><td>Aug 2010</td><td>MVO9                     </td><td>Infrastructure new work    </td></tr>\n<tr><td style="text-align: right;">          -2.9</td><td>Aug 2010</td><td>MVP2                     </td><td>Public other new work      </td></tr>\n<tr><td style="text-align: right;">          24.4</td><td>Aug 2010</td><td>MVP3                     </td><td>Private industrial new work</td></tr>\n<tr><td style="text-align: right;">           5.9</td><td>Aug 2010</td><td>MVP4                     </td><td>Private commercial new work</td></tr>\n<tr><td style="text-align: right;">          11.7</td><td>Sep 2010</td><td>MVO6                     </td><td>Public new housing         </td></tr>\n<tr><td style="text-align: right;">           7.5</td><td>Sep 2010</td><td>MVO7                     </td><td>Private new housing        </td></tr>\n<tr><td style="text-align: right;">           8.5</td><td>Sep 2010</td><td>MVO8                     </td><td>Total new housing          </td></tr>\n<tr><td style="text-align: right;">          -6.8</td><td>Sep 2010</td><td>MVO9                     </td><td>Infrastructure new work    </td></tr>\n<tr><td style="text-align: right;">          -3.3</td><td>Sep 2010</td><td>MVP2                     </td><td>Public other new work      </td></tr>\n<tr><td style="text-align: right;">          16.1</td><td>Sep 2010</td><td>MVP3                     </td><td>Private industrial new work</td></tr>\n<tr><td style="text-align: right;">           5.3</td><td>Sep 2010</td><td>MVP4                     </td><td>Private commercial new work</td></tr>\n</tbody>\n</table>'

## Concatenation via '+'

The simplest way to concatenate two TidyData objects is just to add them together.

In [5]:
tidy_data_all = tidydata1+tidydata2
print(tidy_data_all)

'<table>\n<thead>\n<tr><th style="text-align: right;">  Observations</th><th>Period  </th><th>Dataset Identifier Code  </th><th>Houses                     </th></tr>\n</thead>\n<tbody>\n<tr><td style="text-align: right;">           5.6</td><td>Jun 2010</td><td>MVO6                     </td><td>Public new housing         </td></tr>\n<tr><td style="text-align: right;">           9.8</td><td>Jun 2010</td><td>MVO7                     </td><td>Private new housing        </td></tr>\n<tr><td style="text-align: right;">           8.8</td><td>Jun 2010</td><td>MVO8                     </td><td>Total new housing          </td></tr>\n<tr><td style="text-align: right;">           3  </td><td>Jun 2010</td><td>MVO9                     </td><td>Infrastructure new work    </td></tr>\n<tr><td style="text-align: right;">           4.3</td><td>Jun 2010</td><td>MVP2                     </td><td>Public other new work      </td></tr>\n<tr><td style="text-align: right;">           3.7</td><td>Jun 2010</td><td>MVP3                     </td><td>Private industrial new work</td></tr>\n<tr><td style="text-align: right;">           1.9</td><td>Jun 2010</td><td>MVP4                     </td><td>Private commercial new work</td></tr>\n<tr><td style="text-align: right;">           2  </td><td>Jul 2010</td><td>MVO6                     </td><td>Public new housing         </td></tr>\n<tr><td style="text-align: right;">           5.6</td><td>Jul 2010</td><td>MVO7                     </td><td>Private new housing        </td></tr>\n<tr><td style="text-align: right;">           4.8</td><td>Jul 2010</td><td>MVO8                     </td><td>Total new housing          </td></tr>\n<tr><td style="text-align: right;">           0.2</td><td>Jul 2010</td><td>MVO9                     </td><td>Infrastructure new work    </td></tr>\n<tr><td style="text-align: right;">          -0.2</td><td>Jul 2010</td><td>MVP2                     </td><td>Public other new work      </td></tr>\n<tr><td style="text-align: right;">           9.7</td><td>Jul 2010</td><td>MVP3                     </td><td>Private industrial new work</td></tr>\n<tr><td style="text-align: right;">           3.5</td><td>Jul 2010</td><td>MVP4                     </td><td>Private commercial new work</td></tr>\n<tr><td style="text-align: right;">           5.5</td><td>Aug 2010</td><td>MVO6                     </td><td>Public new housing         </td></tr>\n<tr><td style="text-align: right;">           4.5</td><td>Aug 2010</td><td>MVO7                     </td><td>Private new housing        </td></tr>\n<tr><td style="text-align: right;">           4.7</td><td>Aug 2010</td><td>MVO8                     </td><td>Total new housing          </td></tr>\n<tr><td style="text-align: right;">          -2.9</td><td>Aug 2010</td><td>MVO9                     </td><td>Infrastructure new work    </td></tr>\n<tr><td style="text-align: right;">          -2.9</td><td>Aug 2010</td><td>MVP2                     </td><td>Public other new work      </td></tr>\n<tr><td style="text-align: right;">          24.4</td><td>Aug 2010</td><td>MVP3                     </td><td>Private industrial new work</td></tr>\n<tr><td style="text-align: right;">           5.9</td><td>Aug 2010</td><td>MVP4                     </td><td>Private commercial new work</td></tr>\n<tr><td style="text-align: right;">          11.7</td><td>Sep 2010</td><td>MVO6                     </td><td>Public new housing         </td></tr>\n<tr><td style="text-align: right;">           7.5</td><td>Sep 2010</td><td>MVO7                     </td><td>Private new housing        </td></tr>\n<tr><td style="text-align: right;">           8.5</td><td>Sep 2010</td><td>MVO8                     </td><td>Total new housing          </td></tr>\n<tr><td style="text-align: right;">          -6.8</td><td>Sep 2010</td><td>MVO9                     </td><td>Infrastructure new work    </td></tr>\n<tr><td style="text-align: right;">          -3.3</td><td>Sep 2010</td><td>MVP2                     </td><td>Public other new work      </td></tr>\n<tr><td style="text-align: right;">          16.1</td><td>Sep 2010</td><td>MVP3                     </td><td>Private industrial new work</td></tr>\n<tr><td style="text-align: right;">           5.3</td><td>Sep 2010</td><td>MVP4                     </td><td>Private commercial new work</td></tr>\n</tbody>\n</table>'

Preview tidydata1

'<table>\n<thead>\n<tr><th style="text-align: right;">  Observations</th><th>Period  </th><th>Dataset Identifier Code  </th><th>Houses                     </th></tr>\n</thead>\n<tbody>\n<tr><td style="text-align: right;">           5.6</td><td>Jun 2010</td><td>MVO6                     </td><td>Public new housing         </td></tr>\n<tr><td style="text-align: right;">           9.8</td><td>Jun 2010</td><td>MVO7                     </td><td>Private new housing        </td></tr>\n<tr><td style="text-align: right;">           8.8</td><td>Jun 2010</td><td>MVO8                     </td><td>Total new housing          </td></tr>\n<tr><td style="text-align: right;">           3  </td><td>Jun 2010</td><td>MVO9                     </td><td>Infrastructure new work    </td></tr>\n<tr><td style="text-align: right;">           4.3</td><td>Jun 2010</td><td>MVP2                     </td><td>Public other new work      </td></tr>\n<tr><td style="text-align: right;">           3.7</td><td>Jun 2010</td><td>MVP3                     </td><td>Private industrial new work</td></tr>\n<tr><td style="text-align: right;">           1.9</td><td>Jun 2010</td><td>MVP4                     </td><td>Private commercial new work</td></tr>\n<tr><td style="text-align: right;">           2  </td><td>Jul 2010</td><td>MVO6                     </td><td>Public new housing         </td></tr>\n<tr><td style="text-align: right;">           5.6</td><td>Jul 2010</td><td>MVO7                     </td><td>Private new housing        </td></tr>\n<tr><td style="text-align: right;">           4.8</td><td>Jul 2010</td><td>MVO8                     </td><td>Total new housing          </td></tr>\n<tr><td style="text-align: right;">           0.2</td><td>Jul 2010</td><td>MVO9                     </td><td>Infrastructure new work    </td></tr>\n<tr><td style="text-align: right;">          -0.2</td><td>Jul 2010</td><td>MVP2                     </td><td>Public other new work      </td></tr>\n<tr><td style="text-align: right;">           9.7</td><td>Jul 2010</td><td>MVP3                     </td><td>Private industrial new work</td></tr>\n<tr><td style="text-align: right;">           3.5</td><td>Jul 2010</td><td>MVP4                     </td><td>Private commercial new work</td></tr>\n</tbody>\n</table>'

Preview tidydata2

'<table>\n<thead>\n<tr><th style="text-align: right;">  Observations</th><th>Period  </th><th>Dataset Identifier Code  </th><th>Houses                     </th></tr>\n</thead>\n<tbody>\n<tr><td style="text-align: right;">           5.5</td><td>Aug 2010</td><td>MVO6                     </td><td>Public new housing         </td></tr>\n<tr><td style="text-align: right;">           4.5</td><td>Aug 2010</td><td>MVO7                     </td><td>Private new housing        </td></tr>\n<tr><td style="text-align: right;">           4.7</td><td>Aug 2010</td><td>MVO8                     </td><td>Total new housing          </td></tr>\n<tr><td style="text-align: right;">          -2.9</td><td>Aug 2010</td><td>MVO9                     </td><td>Infrastructure new work    </td></tr>\n<tr><td style="text-align: right;">          -2.9</td><td>Aug 2010</td><td>MVP2                     </td><td>Public other new work      </td></tr>\n<tr><td style="text-align: right;">          24.4</td><td>Aug 2010</td><td>MVP3                     </td><td>Private industrial new work</td></tr>\n<tr><td style="text-align: right;">           5.9</td><td>Aug 2010</td><td>MVP4                     </td><td>Private commercial new work</td></tr>\n<tr><td style="text-align: right;">          11.7</td><td>Sep 2010</td><td>MVO6                     </td><td>Public new housing         </td></tr>\n<tr><td style="text-align: right;">           7.5</td><td>Sep 2010</td><td>MVO7                     </td><td>Private new housing        </td></tr>\n<tr><td style="text-align: right;">           8.5</td><td>Sep 2010</td><td>MVO8                     </td><td>Total new housing          </td></tr>\n<tr><td style="text-align: right;">          -6.8</td><td>Sep 2010</td><td>MVO9                     </td><td>Infrastructure new work    </td></tr>\n<tr><td style="text-align: right;">          -3.3</td><td>Sep 2010</td><td>MVP2                     </td><td>Public other new work      </td></tr>\n<tr><td style="text-align: right;">          16.1</td><td>Sep 2010</td><td>MVP3                     </td><td>Private industrial new work</td></tr>\n<tr><td style="text-align: right;">           5.3</td><td>Sep 2010</td><td>MVP4                     </td><td>Private commercial new work</td></tr>\n</tbody>\n</table>'

## Concatenation via a list

The next method is to use the `TidyData.from_tidy_list()` constructor.

In [6]:
tidy_data_all = TidyData.from_tidy_list([tidydata1, tidydata2])
print(tidy_data_all)

'<table>\n<thead>\n<tr><th style="text-align: right;">  Observations</th><th>Period  </th><th>Dataset Identifier Code  </th><th>Houses                     </th></tr>\n</thead>\n<tbody>\n<tr><td style="text-align: right;">           5.6</td><td>Jun 2010</td><td>MVO6                     </td><td>Public new housing         </td></tr>\n<tr><td style="text-align: right;">           9.8</td><td>Jun 2010</td><td>MVO7                     </td><td>Private new housing        </td></tr>\n<tr><td style="text-align: right;">           8.8</td><td>Jun 2010</td><td>MVO8                     </td><td>Total new housing          </td></tr>\n<tr><td style="text-align: right;">           3  </td><td>Jun 2010</td><td>MVO9                     </td><td>Infrastructure new work    </td></tr>\n<tr><td style="text-align: right;">           4.3</td><td>Jun 2010</td><td>MVP2                     </td><td>Public other new work      </td></tr>\n<tr><td style="text-align: right;">           3.7</td><td>Jun 2010</td><td>MVP3                     </td><td>Private industrial new work</td></tr>\n<tr><td style="text-align: right;">           1.9</td><td>Jun 2010</td><td>MVP4                     </td><td>Private commercial new work</td></tr>\n<tr><td style="text-align: right;">           2  </td><td>Jul 2010</td><td>MVO6                     </td><td>Public new housing         </td></tr>\n<tr><td style="text-align: right;">           5.6</td><td>Jul 2010</td><td>MVO7                     </td><td>Private new housing        </td></tr>\n<tr><td style="text-align: right;">           4.8</td><td>Jul 2010</td><td>MVO8                     </td><td>Total new housing          </td></tr>\n<tr><td style="text-align: right;">           0.2</td><td>Jul 2010</td><td>MVO9                     </td><td>Infrastructure new work    </td></tr>\n<tr><td style="text-align: right;">          -0.2</td><td>Jul 2010</td><td>MVP2                     </td><td>Public other new work      </td></tr>\n<tr><td style="text-align: right;">           9.7</td><td>Jul 2010</td><td>MVP3                     </td><td>Private industrial new work</td></tr>\n<tr><td style="text-align: right;">           3.5</td><td>Jul 2010</td><td>MVP4                     </td><td>Private commercial new work</td></tr>\n<tr><td style="text-align: right;">           5.5</td><td>Aug 2010</td><td>MVO6                     </td><td>Public new housing         </td></tr>\n<tr><td style="text-align: right;">           4.5</td><td>Aug 2010</td><td>MVO7                     </td><td>Private new housing        </td></tr>\n<tr><td style="text-align: right;">           4.7</td><td>Aug 2010</td><td>MVO8                     </td><td>Total new housing          </td></tr>\n<tr><td style="text-align: right;">          -2.9</td><td>Aug 2010</td><td>MVO9                     </td><td>Infrastructure new work    </td></tr>\n<tr><td style="text-align: right;">          -2.9</td><td>Aug 2010</td><td>MVP2                     </td><td>Public other new work      </td></tr>\n<tr><td style="text-align: right;">          24.4</td><td>Aug 2010</td><td>MVP3                     </td><td>Private industrial new work</td></tr>\n<tr><td style="text-align: right;">           5.9</td><td>Aug 2010</td><td>MVP4                     </td><td>Private commercial new work</td></tr>\n<tr><td style="text-align: right;">          11.7</td><td>Sep 2010</td><td>MVO6                     </td><td>Public new housing         </td></tr>\n<tr><td style="text-align: right;">           7.5</td><td>Sep 2010</td><td>MVO7                     </td><td>Private new housing        </td></tr>\n<tr><td style="text-align: right;">           8.5</td><td>Sep 2010</td><td>MVO8                     </td><td>Total new housing          </td></tr>\n<tr><td style="text-align: right;">          -6.8</td><td>Sep 2010</td><td>MVO9                     </td><td>Infrastructure new work    </td></tr>\n<tr><td style="text-align: right;">          -3.3</td><td>Sep 2010</td><td>MVP2                     </td><td>Public other new work      </td></tr>\n<tr><td style="text-align: right;">          16.1</td><td>Sep 2010</td><td>MVP3                     </td><td>Private industrial new work</td></tr>\n<tr><td style="text-align: right;">           5.3</td><td>Sep 2010</td><td>MVP4                     </td><td>Private commercial new work</td></tr>\n</tbody>\n</table>'

## Concatenation via arguments

Lastly, you can pass in objects of class TidyData as positional arguments to the `TidyData.from_tidy()` constructor.

In [7]:
tidy_data_all = TidyData.from_tidy(tidydata1, tidydata2)
print(tidy_data_all)

'<table>\n<thead>\n<tr><th style="text-align: right;">  Observations</th><th>Period  </th><th>Dataset Identifier Code  </th><th>Houses                     </th></tr>\n</thead>\n<tbody>\n<tr><td style="text-align: right;">           5.6</td><td>Jun 2010</td><td>MVO6                     </td><td>Public new housing         </td></tr>\n<tr><td style="text-align: right;">           9.8</td><td>Jun 2010</td><td>MVO7                     </td><td>Private new housing        </td></tr>\n<tr><td style="text-align: right;">           8.8</td><td>Jun 2010</td><td>MVO8                     </td><td>Total new housing          </td></tr>\n<tr><td style="text-align: right;">           3  </td><td>Jun 2010</td><td>MVO9                     </td><td>Infrastructure new work    </td></tr>\n<tr><td style="text-align: right;">           4.3</td><td>Jun 2010</td><td>MVP2                     </td><td>Public other new work      </td></tr>\n<tr><td style="text-align: right;">           3.7</td><td>Jun 2010</td><td>MVP3                     </td><td>Private industrial new work</td></tr>\n<tr><td style="text-align: right;">           1.9</td><td>Jun 2010</td><td>MVP4                     </td><td>Private commercial new work</td></tr>\n<tr><td style="text-align: right;">           2  </td><td>Jul 2010</td><td>MVO6                     </td><td>Public new housing         </td></tr>\n<tr><td style="text-align: right;">           5.6</td><td>Jul 2010</td><td>MVO7                     </td><td>Private new housing        </td></tr>\n<tr><td style="text-align: right;">           4.8</td><td>Jul 2010</td><td>MVO8                     </td><td>Total new housing          </td></tr>\n<tr><td style="text-align: right;">           0.2</td><td>Jul 2010</td><td>MVO9                     </td><td>Infrastructure new work    </td></tr>\n<tr><td style="text-align: right;">          -0.2</td><td>Jul 2010</td><td>MVP2                     </td><td>Public other new work      </td></tr>\n<tr><td style="text-align: right;">           9.7</td><td>Jul 2010</td><td>MVP3                     </td><td>Private industrial new work</td></tr>\n<tr><td style="text-align: right;">           3.5</td><td>Jul 2010</td><td>MVP4                     </td><td>Private commercial new work</td></tr>\n<tr><td style="text-align: right;">           5.5</td><td>Aug 2010</td><td>MVO6                     </td><td>Public new housing         </td></tr>\n<tr><td style="text-align: right;">           4.5</td><td>Aug 2010</td><td>MVO7                     </td><td>Private new housing        </td></tr>\n<tr><td style="text-align: right;">           4.7</td><td>Aug 2010</td><td>MVO8                     </td><td>Total new housing          </td></tr>\n<tr><td style="text-align: right;">          -2.9</td><td>Aug 2010</td><td>MVO9                     </td><td>Infrastructure new work    </td></tr>\n<tr><td style="text-align: right;">          -2.9</td><td>Aug 2010</td><td>MVP2                     </td><td>Public other new work      </td></tr>\n<tr><td style="text-align: right;">          24.4</td><td>Aug 2010</td><td>MVP3                     </td><td>Private industrial new work</td></tr>\n<tr><td style="text-align: right;">           5.9</td><td>Aug 2010</td><td>MVP4                     </td><td>Private commercial new work</td></tr>\n<tr><td style="text-align: right;">          11.7</td><td>Sep 2010</td><td>MVO6                     </td><td>Public new housing         </td></tr>\n<tr><td style="text-align: right;">           7.5</td><td>Sep 2010</td><td>MVO7                     </td><td>Private new housing        </td></tr>\n<tr><td style="text-align: right;">           8.5</td><td>Sep 2010</td><td>MVO8                     </td><td>Total new housing          </td></tr>\n<tr><td style="text-align: right;">          -6.8</td><td>Sep 2010</td><td>MVO9                     </td><td>Infrastructure new work    </td></tr>\n<tr><td style="text-align: right;">          -3.3</td><td>Sep 2010</td><td>MVP2                     </td><td>Public other new work      </td></tr>\n<tr><td style="text-align: right;">          16.1</td><td>Sep 2010</td><td>MVP3                     </td><td>Private industrial new work</td></tr>\n<tr><td style="text-align: right;">           5.3</td><td>Sep 2010</td><td>MVP4                     </td><td>Private commercial new work</td></tr>\n</tbody>\n</table>'

## Misaligned Headers Error

Where concatenating together TidyData the column headers must match precisely.

The following is an example of what happens if you try and concatenate two TidyData classes with misaligned headers.

In [8]:
# We're going to redefine tidydata2 but this time we're going to label the observations column
# such that it no longer matches tidydata1 

tidydata2 = TidyData(
    observations2.label_as("Value"),
    Column(period.finds_observations_directly(right)),
    Column(dataset_identifier_code.finds_observations_directly(down)),
    Column(houses.finds_observations_directly(down))
)

# And we'll preview both so you can see the column headers no longer match
print("Preview tidydata1")
print(tidydata1)

print("Preview tidydata2")
print(tidydata2)

Preview tidydata1

'<table>\n<thead>\n<tr><th style="text-align: right;">  Observations</th><th>Period  </th><th>Dataset Identifier Code  </th><th>Houses                     </th></tr>\n</thead>\n<tbody>\n<tr><td style="text-align: right;">           5.6</td><td>Jun 2010</td><td>MVO6                     </td><td>Public new housing         </td></tr>\n<tr><td style="text-align: right;">           9.8</td><td>Jun 2010</td><td>MVO7                     </td><td>Private new housing        </td></tr>\n<tr><td style="text-align: right;">           8.8</td><td>Jun 2010</td><td>MVO8                     </td><td>Total new housing          </td></tr>\n<tr><td style="text-align: right;">           3  </td><td>Jun 2010</td><td>MVO9                     </td><td>Infrastructure new work    </td></tr>\n<tr><td style="text-align: right;">           4.3</td><td>Jun 2010</td><td>MVP2                     </td><td>Public other new work      </td></tr>\n<tr><td style="text-align: right;">           3.7</td><td>Jun 2010</td><td>MVP3                     </td><td>Private industrial new work</td></tr>\n<tr><td style="text-align: right;">           1.9</td><td>Jun 2010</td><td>MVP4                     </td><td>Private commercial new work</td></tr>\n<tr><td style="text-align: right;">           2  </td><td>Jul 2010</td><td>MVO6                     </td><td>Public new housing         </td></tr>\n<tr><td style="text-align: right;">           5.6</td><td>Jul 2010</td><td>MVO7                     </td><td>Private new housing        </td></tr>\n<tr><td style="text-align: right;">           4.8</td><td>Jul 2010</td><td>MVO8                     </td><td>Total new housing          </td></tr>\n<tr><td style="text-align: right;">           0.2</td><td>Jul 2010</td><td>MVO9                     </td><td>Infrastructure new work    </td></tr>\n<tr><td style="text-align: right;">          -0.2</td><td>Jul 2010</td><td>MVP2                     </td><td>Public other new work      </td></tr>\n<tr><td style="text-align: right;">           9.7</td><td>Jul 2010</td><td>MVP3                     </td><td>Private industrial new work</td></tr>\n<tr><td style="text-align: right;">           3.5</td><td>Jul 2010</td><td>MVP4                     </td><td>Private commercial new work</td></tr>\n</tbody>\n</table>'

Preview tidydata2

'<table>\n<thead>\n<tr><th style="text-align: right;">  Value</th><th>Period  </th><th>Dataset Identifier Code  </th><th>Houses                     </th></tr>\n</thead>\n<tbody>\n<tr><td style="text-align: right;">    5.5</td><td>Aug 2010</td><td>MVO6                     </td><td>Public new housing         </td></tr>\n<tr><td style="text-align: right;">    4.5</td><td>Aug 2010</td><td>MVO7                     </td><td>Private new housing        </td></tr>\n<tr><td style="text-align: right;">    4.7</td><td>Aug 2010</td><td>MVO8                     </td><td>Total new housing          </td></tr>\n<tr><td style="text-align: right;">   -2.9</td><td>Aug 2010</td><td>MVO9                     </td><td>Infrastructure new work    </td></tr>\n<tr><td style="text-align: right;">   -2.9</td><td>Aug 2010</td><td>MVP2                     </td><td>Public other new work      </td></tr>\n<tr><td style="text-align: right;">   24.4</td><td>Aug 2010</td><td>MVP3                     </td><td>Private industrial new work</td></tr>\n<tr><td style="text-align: right;">    5.9</td><td>Aug 2010</td><td>MVP4                     </td><td>Private commercial new work</td></tr>\n<tr><td style="text-align: right;">   11.7</td><td>Sep 2010</td><td>MVO6                     </td><td>Public new housing         </td></tr>\n<tr><td style="text-align: right;">    7.5</td><td>Sep 2010</td><td>MVO7                     </td><td>Private new housing        </td></tr>\n<tr><td style="text-align: right;">    8.5</td><td>Sep 2010</td><td>MVO8                     </td><td>Total new housing          </td></tr>\n<tr><td style="text-align: right;">   -6.8</td><td>Sep 2010</td><td>MVO9                     </td><td>Infrastructure new work    </td></tr>\n<tr><td style="text-align: right;">   -3.3</td><td>Sep 2010</td><td>MVP2                     </td><td>Public other new work      </td></tr>\n<tr><td style="text-align: right;">   16.1</td><td>Sep 2010</td><td>MVP3                     </td><td>Private industrial new work</td></tr>\n<tr><td style="text-align: right;">    5.3</td><td>Sep 2010</td><td>MVP4                     </td><td>Private commercial new work</td></tr>\n</tbody>\n</table>'

In [9]:
# Now we try and concatenate them - and get an error!

tidydata1 + tidydata2

MisalignedHeadersError:
                You are attempting to sum two tidy data
                outputs but they do not have the same
                column headers.

                TidyData1 headers:
                ['Observations', 'Period', 'Dataset Identifier Code', 'Houses']

                TidyData2 headers:
                ['Value', 'Period', 'Dataset Identifier Code', 'Houses']